<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pursuit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PursuitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DiscoverActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".CreateOpportunity" />
        <activity android:name=".viewCompaniesActivity" />
        <activity android:name=".MessagesActivity" />
        <activity
            android:name=".ViewOpportunities"
            android:label="@string/title_activity_view_opportunities"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".StudentProfileActivity" />
        <activity android:name=".aboutPursuitActivity" />
        <activity android:name=".LandingActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".CompanyRegistration" />
        <activity android:name=".StudentRegistration" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CompanyProfileActivity" />
        <activity android:name=".InviteEmployeeActivity" />
        <activity android:name=".viewCompanyEmployeeInvites" />
        <activity android:name=".ConversationsActivity" />
        <activity android:name=".EmployeeRegistration1" />
        <activity android:name=".EmployeeRegistration2" />
        <activity android:name=".EmployeeManagement" />
        <activity android:name=".NewConversationActivity" />
        <activity android:name=".NewShareActivity" />
        <activity android:name=".ViewOpportunity" />
        <activity android:name=".StudentMatchedOpportunities" />
        <activity android:name=".StudentViewOpportunity" />
        <activity android:name=".StudentViewCompany" />
        <activity android:name=".StudentViewEmployees" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>