<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pursuit">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".PursuitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewCompaniesActivity"></activity>
        <!-- <activity android:name=".myProfileActivity" /> -->
        <activity android:name=".StudentProfileActivity"></activity>
        <activity android:name=".aboutPursuitActivity" />
        <activity android:name=".LandingActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".CompanyRegistration" />
        <activity android:name=".StudentRegistration" />
        <activity android:name=".RegistrationPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CompanyProfileActivity" />
        <activity android:name=".InviteEmployeeActivity" />
        <activity android:name=".viewCompanyEmployeeInvites" />
    </application>

</manifest>